body {
  background-color: #f2ddef;
}

h1,
div,
button {
  color: #375071;
}

.purple {
  background-color: #a99ec3;
  color: #375071;
}

.blue {
  background-color: #375071;
  color: #a99ec3;
}

h1,
.productName,
.garrafaPrice,
.percentajePrice,
.finalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.productName,
.garrafaPrice,
.percentajePrice,
.finalPrice {
  min-height: 85px;
  max-width: 130px;
}
.submit,
.productInput,
.priceInput,
.table {
  display: flex;
}

.productInput,
.priceInput {
  align-items: center;
}

.submit {
  flex-direction: column;
  margin: 15px 5px;
}

.submit div {
  margin: 10px 0;
}

.productInput {
  flex-direction: row;
}

.productInput label,
.productInput input,
.priceInput label,
.priceInput input {
  flex-grow: 1;
  padding: 0 5px;
}

button,
input {
  height: 40px;
  background-color: #a99ec3;
  border-color: #f2ddef;
}

input {
  max-width: 45vw;
}

.table {
  justify-content: center;
}

.table div {
  margin: 10px 5px;
}

.title {
  border-bottom: 2px solid #a99ec3;
}

.products, 
.garrafaPrices,
.percentajePrices, 
.finalPrices {
  border-left: 2px solid #a99ec3;
  border-right: 2px solid #a99ec3;
}

.title {
  font-weight: bold;
}
